- name: Install chrony package
  ansible.builtin.package:
    name: chrony
    state: present

- name: Generate chrony.conf
  ansible.builtin.template:
    src: templates/chrony.conf.j2
    dest: /etc/chrony/chrony.conf
    mode: '0664'
