{
  "data-root": {{ docker_data_root | to_nice_json }},
  "proxies": {{ docker_proxies | to_nice_json | indent 4 }},
  "insecure-registries": {{ docker_insecure_registries | to_nice_json }},
  "tls": {{ docker_tls.enable }},
{{ if docker_tls.enable or docker_tls.verify }}
  "tlscacert": {{ docker_tls.cacert | to_nice_json }},
  "tlscert": {{ docker_tls.cert | to_nice_json }},
  "tlskey": {{ docker_tls.key | to_nice_json }},
{{ endif }}
  "tlsverify": {{ docker_tls.verify | to_nice_json }}
}
