dependency:
  name: galaxy
  requirements-file: molecule/requirements.yml
  role-file: molecule/requirements.yml

scenario:
  test_sequence:
    - dependency
    - create
    - converge
    - verify
    - destroy
