dependency:
  name: galaxy
  options:
    requirements-file: molecule/requirements.yml
    role-file: molecule/requirements.yml

scenario:
  test_sequence:
    - dependency
    - create
    - prepare
    - converge
    - verify
    - destroy
