---
- name: Converge
  hosts: all
  gather_facts: false
  roles:
    - role: tesselate.linux.chrony
      vars:
        chrony_server:
          - hostname: example.com
            minpoll: 1
            prefer: true
